<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit"> 
	<title>测试</title>
	<link rel="stylesheet" href="../dist/libs/global.css">
	<link rel="stylesheet" href="../dist/css/style.css">
	<script src="../dist/libs/zepto.min.js"></script>
	<script src="../dist/libs/fx.js"></script>
	<script src="../dist/libs/public.js"></script>
</head>

<body>
<section class="evaluating_header">
	<h2><b>投资风险评测</b>（共10题）</h2>
	<p>根据相关法规，因金融产品有着不同的风险等级，需要你完成风险评测了解自身的风险承担能力，便于做出理性的投资决策，防止违背意愿购买了与自身风险承受能力不匹配的产品。</p>
</section>

<section id="evaluatingList" class="evaluating_content">
	<!--<dl>-->
		<!--<dt>-->
			<!--<span>1</span>-->
			<!--<p>你的年龄在以下哪个范围内？</p>-->
		<!--</dt>-->
		<!--<dd class="cur">-->
			<!--<p>35岁以下35岁以下35岁以下35岁以下35岁以下35岁以下35岁以下35岁以下35岁</p>-->
			<!--<img src="../dist/images/icon_confirm.png">-->
		<!--</dd>-->
		<!--<dd>-->
			<!--<p>35岁以下</p>-->
			<!--<img src="../dist/images/icon_confirm.png">-->
		<!--</dd>-->
		<!--<dd class="clear">-->
			<!--<p>35岁以下</p>-->
			<!--<img src="../dist/images/icon_confirm.png">-->
		<!--</dd>-->
	<!--</dl>-->
</section>
<section class="submit_wrap">
	<a id="btnSubmit" class="ra_btn_submit">提交</a>
</section>

<section class="prompt_inner">
	<div id="prompt" class="prompt"></div>
</section>

<script src="../dist/libs/md5.js"></script>
<script src="../dist/js/assessment.js"></script>
</body>
</html>
